
body {
font-family: Nunito, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.form-control {
position: relative;
margin: 20px 0 40px;
width: 190px;
}

.form-control input {
background-color: transparent;
border: 0;
border-bottom: 2px black solid;
display: block;
width: 100%;
padding: 15px 0;
font-size: 1rem;
color: black;
}

.form-control input:focus,
.form-control input:valid {
outline: 0;
border-bottom-color: black;
}

.form-control label {
position: absolute;
top: 15px;
left: 0;
pointer-events: none;
}

.form-control label span {
display: inline-block;
font-size: 1rem;
min-width: 5px;
color: black;
transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
color: black;
transform: translateY(-30px);
}



.form {
display: flex;
flex-direction: column;
gap: 10px;
background-color: white;
padding: 2.5em;
border-radius: 25px;
box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 100px;
}


.heading {
color: black;
padding-bottom: 2em;
text-align: center;
font-weight: bold;
}


.form .btn {
margin-top: 2em;
align-self: center;
padding: 0.7em;
padding-left: 1em;
padding-right: 1em;
border-radius: 10px;
border: none;
color: black;
transition: .4s ease-in-out;
box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.form .btn:hover {
box-shadow: 6px 6px 0px #969696,
-3px -3px 10px #ffffff;
transform: translateX(-0.5em) translateY(-0.5em);
}

.form .btn:active {
transition: .2s;
transform: translateX(0em) translateY(0em);
box-shadow: none;
}