/* SimpleBar Scrollbar */
.custom-scrollbar .simplebar-scrollbar::before {
  background-color: #1a202c !important;
  border-radius: 8px;
}

.custom-scrollbar .simplebar-track {
  background: rgba(255, 255, 255, 0.1) !important;
  border-radius: 8px;
}

.custom-scrollbar .simplebar-track.simplebar-vertical {
  width: 8px;
}
